# clock and reset
set_io i_clk        35
set_frequency i_clk 24
set_io -nowarn i_rst 20

set_io o_txd 9 # UART TX
set_io i_rxd 6 # UART RX 

# led
# set_io led[4] 23    # UP GREEN
set_io led[3] 27    # LEFT GREEN
set_io led[2] 21    # DOWN GREEN
set_io led[1] 25    # RIGHT GREEN
set_io led[0] 26    # CENTER RED

# buttons 
set_io -nowarn buttons[0] 10
set_io -nowarn buttons[1] 18
set_io -nowarn buttons[2] 19

#spi
set_io o_flash_ss 16    # nCS
set_io o_flash_sck 15   # SCK
set_io o_flash_mosi 14  # MISO
set_io i_flash_miso 17  # MOSI